.title {
    font-size: 2.5rem;
    color: #f57f17;
}

.form {
    width: 100%;
}

.form__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.form__links > a {
    text-decoration: none;
    color: #9e9e9e;
}

.form__links > a:hover {
    text-decoration: underline;
}

.form__links span {
    color: #9e9e9e;
}

.form__links span > a {
    text-decoration: none;
    color: #9e9e9e;
}

.form__links span > a:hover {
    text-decoration: underline;
}

.label__box {
    justify-items: flex-start; 
    margin-top: 0;
}

.label__box label {
    margin-top: 5px;
    color: #e65100;
}