.title {
    font-size: var(--formTitleFontSize);
    color: var(--formTitleColor);
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.88rem;
}

.form__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .63rem;
    font-family: 'Poiret One';
}

.form__links>a {
    text-decoration: none;
    color: var(--formLinksColor);
}

.form__links>a:hover {
    text-decoration: underline;
}

.form__links span {
    color: var(--formLinksColor);
}

.form__links span>a {
    text-decoration: none;
    color: var(--formLinksColor);
}

.form__links span>a:hover {
    text-decoration: underline;
}