.input__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: center;
    justify-content: start;
}

.input__box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .63rem;
    width: 80%;
    min-height: 5rem;
    max-width: 37.5rem;
}

.input {
    text-align: center;
}

.button {
    width: 12.5rem;
    height: 2.25rem;
    font-family: "Honk", "system-ui";
    cursor: pointer;
    border: none;
    outline: none;
}

@media (hover: hover) {

    .button {
        background-color: var(--backgroundMainButton);
    }

    .button:hover {
        background-color: var(--backgroundMainButtonHover);
    }
}

@media (hover: none) {

    .button {
        background-color: var(--backgroundMainButton);
    }

    .button:active {
        background-color: var(--backgroundMainButtonHover);
    }

}