.main {
    max-width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.main__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.answer__title {
    color: transparent;
    mix-blend-mode: multiply;
    -webkit-text-stroke: 3px black;
    padding: 5px;
    background-color: yellow;
}

.answer__image {
    display: flex;
    flex: 1 1 0;                
    align-items: center;
    justify-content: center;
    width: 100%;
}