.main {
    height: 100%;
}

.content__wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .63rem;
    max-width: 56.25rem;
    height: 90%;
    padding: 10px 0;

}


