.error {
   width: 100vw;
   min-height: 100svh; 
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.error__box {
    width: 18.75rem;
}

.title {
    color: var(--errorColorTitle);
    font-size: 2.5rem;
}

.subtitle {
    margin-top: .63rem;
    color: var(--errorColorSubtitle);
    font-size: 1.06rem;
}