.header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
}

@media screen and (max-width: 850px) {
    .header {
        justify-content: space-between;
    }
}