.register__button_links {
    text-decoration: none;
}

.register__button_links button {
    font-family: "Honk", "system-ui"; 
    background-color: transparent;
    border: none;
    outline: none;
    width: 4.38rem;
    height: 2.5rem;
    font-size: inherit;
    border-radius: 3px;
    cursor: pointer;
}

@media (hover: hover) {
    .register__button_links button:hover {
        background-color: var( --registerButtonLinks);
    }
}

@media (hover: none) {
    
    .register__button_links button:active {
        background-color: var( --registerButtonLinks);    
    }

    .register__button_links button {
        background-color: transparent;
    }
}